Week three lesson 15 challenge 

## Challenge Questions:
    1. What was the highest scoring movie in 1996?
    2. In What year was the highest rated movie of all time made?
    3. What five movies have the most votes ever?
    4. What year in the 1960s had the highest average movie rating?

In [2]:
import pandas as pd

In [3]:
name = ['id', 'title', 'year', 'rating', 'votes', 'length', 'genres']
data=pd.read_csv('imdb_top_10000.txt', sep="\t", names=name, index_col=0)

In [44]:
# 1
data[data['year'] == 1996].sort_values(by='rating', ascending=False).head(5)

,title,year,rating,votes,length,genres
id,,,,,,
tt0116282,Fargo (1996),1996,8.3,187498,98 mins.,Crime|Drama|Thriller
tt0116231,The Bandit (1996),1996,8.3,13288,121 mins.,Action|Crime|Drama|Romance|Thriller
tt0117951,Trainspotting (1996),1996,8.2,175993,94 mins.,Crime|Drama
tt0117666,Sling Blade (1996),1996,8.0,44316,135 mins.,Drama
tt0117589,Secrets & Lies (1996),1996,8.0,15435,142 mins.,Comedy|Drama

In [49]:
# 2
data['rating'].max()
# data.sort_values(by='rating', ascending=False)[['year', 'rating', 'title']]
data[data['rating'] == data['rating'].max()]

,title,year,rating,votes,length,genres
id,,,,,,
tt0111161,The Shawshank Redemption (1994),1994,9.2,619479,142 mins.,Crime|Drama
tt0068646,The Godfather (1972),1972,9.2,474189,175 mins.,Crime|Drama

In [50]:
# 3
data.sort_values(by='votes', ascending=False)[['title', 'votes']].head(5)

                                     title   votes
id
tt0111161  The Shawshank Redemption (1994)  619479
tt0468569           The Dark Knight (2008)  555122
tt0110912              Pulp Fiction (1994)  490065
tt0068646             The Godfather (1972)  474189
tt0137523                Fight Club (1999)  458173

In [81]:
ret = data[(data['year'] >= 1960) & (data['year'] < 1970)]
ret.groupby(data['year'])['rating'].mean().sort_values(ascending=False).head(1)

year
1962    7.349057
Name: rating, dtype: float64